# 1.Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [36]:
Print("Good Evening")

NameError: name 'Print' is not defined

In [37]:
print "Good Evening"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Good Evening")? (213401618.py, line 1)

In [38]:
print("Good
      Morning ")

SyntaxError: EOL while scanning string literal (1055424275.py, line 1)

In [39]:
print("Hi my name is "Sunny" ")

SyntaxError: invalid syntax (4035323886.py, line 1)

Variables

In [40]:
ten* = 10

SyntaxError: invalid syntax (2667552044.py, line 1)

In [41]:
ten%number = 10

SyntaxError: cannot assign to operator (1559910169.py, line 1)

In [42]:
ten%number = 10
tenNumber = 10

SyntaxError: cannot assign to operator (1417897412.py, line 1)

In [43]:
10ten=10

SyntaxError: invalid syntax (2851132279.py, line 1)

In [44]:
ten number=10

SyntaxError: invalid syntax (2336307459.py, line 1)

Strong Typing

In [45]:
"Day"+1

TypeError: can only concatenate str (not "int") to str

In [46]:
"22"+22

TypeError: can only concatenate str (not "int") to str

In [47]:
22+"22"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
Demo__003

NameError: name 'Demo__003' is not defined

In [49]:
TEN = 10
ten = 20

In [50]:
print(Ten)

NameError: name 'Ten' is not defined

In [51]:
print="hi There"

In [52]:
print(print)

TypeError: 'str' object is not callable

In [53]:
print("Hi there")

TypeError: 'str' object is not callable

User Input

In [54]:
name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: dddd
place: cdss
year_of_birth: 1993

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Type conversion

In [31]:
int A

SyntaxError: invalid syntax (2077884358.py, line 1)

In [33]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 10.2
Enter value of B: 10.2

ValueError: invalid literal for int() with base 10: '10.2'

In [34]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

TypeError: 'str' object is not callable

In [35]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

TypeError: 'str' object is not callable

# 2  .Take input A and B and print their sum, mul, div, square of the nos

In [103]:
num_1=int(input("Enter the value of num_1: "))
num_2=int(input("Enter the value of num_2: "))
print(f"The sum of {num_1} and {num_2} is {num_1+num_2}")

TypeError: 'str' object is not callable

In [104]:
num_1=int(input("Enter the value of num_1: "))
num_2=int(input("Enter the value of num_2: "))
print(f"The multication of {num_1} and {num_2} is {num_1*num_2}")

TypeError: 'str' object is not callable

In [105]:
num_1=int(input("Enter the value of num_1: "))
num_2=int(input("Enter the value of num_2: "))
print(f"The division of {num_1} and {num_2} is {num_1/num_2}")

TypeError: 'str' object is not callable

In [106]:
num_1=int(input("Enter the value of num_1: "))
print(f"The square of {num_1} is {num_1**2}")

TypeError: 'str' object is not callable

# 3 How many reserve keywords are there in python and why we should not use them as a variable name

and      
del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
def       for       lambda    try

They just instruct Python to do certain things, so we can't use them as variable names because we'd just make it really confusing for Python and that's not how a programming language works.

# 4.Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [114]:
first_name=input("Enter your first_name: ")
middle_name=input("Enter your middle_name: ")
last_name=input("Enter your last_name: ")
print(f"{last_name}.{first_name}@gmail.com")

TypeError: 'str' object is not callable

# 5Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [121]:
Name=input("Name:")
Place=input("Place:")
Salary=input("Salary$")

print(f"""Hi I'm {Name}"
I live at {Place}
I earn {Salary}$ daily
""")

TypeError: 'str' object is not callable

# 6Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs#

In [122]:
name=input("Enter your first_name: ")
address=input("Enter your address: ")
DOB=input("Enter your DOB: ")
print(f"{name}.@gmail.com")

TypeError: 'str' object is not callable

# 7Convert the following -
"22.4" into integer
"22" into complex no.

In [126]:
num_1= 22.4
num_2=22
print(int(num_1))
print(complex(nume_2))

TypeError: 'str' object is not callable